@media (max-width: 414px) {
    
    .container {
        max-width: 90%;
    }
    
    header {
        height: 60px;
        padding: 0;
        position: fixed;
        nav {
            display: none;
        }
        img {
            position: absolute;
            top: 20px;
            left: 40px;
        }
        .open {
            display: block;
            right: 50px;
        }

    }
    .promo {
        padding-top: 100px;
        h1 {
            font-size: 38px;
        }
        &__btns {
            margin: 0 auto;
            flex-direction: column;
            margin-top: 50px;
            width: 76%;
            .promo_btn {
                margin: 0 auto;
                &:nth-child(1) {
                    margin-bottom: 20px;
                }
            }
        }
        a {
            margin-top: 50px;
        }
    }
    .info {
        padding: 30px 0;
        &__items {
            flex-direction: column;
            margin-top: 50px;
            img {
                margin-bottom: 5px;
            }
            h2 {
                margin-bottom: 6px;
            }
            .info__item {
                margin-bottom: 30px;
            }
        }
    }
    .services {
        padding: 30px 0;
        &__items {
            margin-top: 30px;
        }
    }
    .work {
        padding: 30px 0;
        .tabs__caption {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            padding: 0;
            li {
                margin-bottom: 10px;;
                &:nth-child(1) {
                    width: 179px;
                }
            }
        
        }
        .tabs__content.active {
            margin-top: 10px;
        }
        img {
            width: 100%;
            margin-bottom: 10px;
        }
        .last_btn {
            margin-top: 50px;   
        }
    }
    .price {
        padding: 30px 0;
        &__wrapper {
            margin-top: 70px;
            flex-direction: column;
            .price__item {
                width: 100%;
                margin-bottom: 20px;
                .price__item_header {
                    .dollar {
                        top: -54%;
                        left: 25%;
                    }
                }
                ul {
                    li {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
        .slick-prev , .slick-next {
            top: -9%;
        }
    }

    .member {
        padding: 30px 0;
        &__wrapper {
            width: 100%;
            .member__item {
                img {
                    display: block;
                    margin: 0 auto;
                    width: 70%;
                }
                .member__rec {
                    width: 25px;
                    height: 25px;
                    padding-top: 3px;
                    i {
                        font-size: 15px;
                    }
                }
            }
            li {
                display: none;
            }
        }
    }

    .blog {
        padding: 30px 0;
        &__wrapper {
            flex-direction: column;
            img {
                width: 100%;
            }
            i {
                margin: 0;
            }
            .blog__item {
                padding: 0;
                .blog__subheader {
                    font-size: 14px;
                    span {
                        font-size: 14px;
                    }
                }
            }
        }
        &_btn {
            margin-top: 50px;
        }
        .blog_subtitle {
            margin-bottom: 20px;
        }
    }

    .contact{
        padding: 50px 0;
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            .contact__item {
                margin-top: 30px;
            }
        }
        form {
            input {
                width: 100%;
                &:nth-child(1) {
                    margin-bottom: 10px;
                }
            }
            textarea {
                margin-top: 10px;
                height: 150px;
            }
            .button_frm {
                width: 100%;
                display: block;
                margin: 0 auto;
                height: 50px;
                margin-top: 20px;
                position: static;
            }
        }
    }
}
    

@media (min-width: 415px) and (max-width: 980px) {

    
    .container {
        max-width: 90%;
    }
    
    header {
        height: 60px;
        padding: 0;
        position: fixed;
        nav {
            display: none;
        }
        img {
            position: absolute;
            top: 20px;
            left: 40px;
        }
        .open {
            display: block;
        }
    }

    .promo {
        padding-top: 250px;
        padding-bottom: 50px;
        h1 {
            font-size: 38px;
        }
        &__btns {
            width: 100%;
            padding: 0;
            margin-top: 40px;
            .promo_btn {
                margin: 0;
                width: 48%;
                &:nth-child(1) {
                    margin-right: 20px;
                }
            }
        }
    }

    .info {
        padding: 30px 0;
        &__items {
            margin-top: 50px;
            img {
                margin-bottom: 5px;
            }
            h2 {
                margin-bottom: 6px;
            }
            .info__item {
                margin-bottom: 30px;
                padding: 5px;
            }
        }
    }

    .services {
        padding: 30px 0;
      
       
    }

    .work {
        padding: 30px 0;
        &__wrapper {
            width: 100%;
            justify-content: space-around;
            align-items: center;
            
        }
        .tabs__caption {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            li {
                margin-bottom: 10px;
                &:nth-child(1) {
                    width: 179px;
                }
            }
        }
        img {
            width: 100%;
            margin-bottom: 10px;
        }
        .tabs__content.active {
            margin-top: 10px;
        }
        .last_btn {
            margin-top: 20px;
        }
    }

    .price {
        padding: 30px 0;
        &__wrapper {
            margin-top: 30px;
            .price__item {
                width: 50%;
                margin-top: 30px;
                padding-bottom: 30px;
                .price__item_header {
                    .dollar {
                        top: -54%;
                        left: 25%;
                    }
                }
                ul {
                    li {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
           
            .price_btn {
                width: 200px;
            }
        }
    }

    .member {
        padding: 30px 0;
        &__wrapper {
            width: 100%;
            .member__item {
                img {
                    display: block;
                    margin: 0 auto;
                    width: 70%;
                }
                .member__rec {
                    width: 25px;
                    height: 25px;
                    padding-top: 3px;
                    i {
                        font-size: 15px;
                    }
                }
            }
            li {
                display: none;
            }
        }
    }

    .blog {
        padding: 50px 0;
        &__wrapper {
            flex-direction: column;
            img {
                width: 100%;
            }
            i {
                margin: 0;
            }
            .blog__item {
                padding: 0;
                .blog__subheader {
                    font-size: 14px;
                    span {
                        font-size: 14px;
                    }
                }
            }
        }
        &_btn {
            margin-top: 50px;
        }
        .blog_subtitle {
            margin-bottom: 20px;
        }
    }

    .contact{
        padding: 50px 0;
        &__wrapper {
            margin-top: 30px;
            flex-direction: column;
            .contact__item {
                margin: 0 auto;
                margin-top: 30px;
                
            }
        }
        form {
            input {
                width: 100%;
                &:nth-child(1) {
                    margin-bottom: 10px;
                }
            }
            textarea {
                margin-top: 10px;
                height: 150px;
            }
            .button_frm {
                display: block;
                margin: 0 auto;
                height: 50px;
                margin-top: 20px;
                position: static;
                width: 100%;
            }
        }
    }
    


}  

@media (min-width: 320px) and (max-width: 384px) {
.price {
    &__wrapper {
        .price__item {
            .price__item_header {
                .dollar {
                    left: 18%;
                }
            }
        }
    }
}
}