.promo {
    padding: 225px 0 76px 0;
    height: 782px;
    background: url(../img/promo_bg.jpg) center (center / cover) no-repeat;
    h1 {
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 3px;
        color: #ffffff;
        text-align: center;
        font-family: "Open Sans";
    }
    &__subheader {
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 1.1px;
        text-align: center;
        margin-top: 26px;
    }
    &__btns {
        margin: 0 auto;
        width: 469px;
        margin-top: 108px;
        margin-bottom: 100px;
        display: flex;
    }

    a{
        display: block;
        text-align: center;
    }
}